// bower:scss
// endbower

@import "support";

$default-font-size: 10px;
$default-vw2px: 360 * 0.01; // 默认以屏幕宽度 360 像素计算

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font: normal 0.625rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;

  color: #fff;
  background-color: #1a2424;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 遮罩
.mask {
  display: none;
  top: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.8);
}

/* # 提示 */
.msg {
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: 690 / 1080 * 100%;
  padding: (80 / 1080 * 100%) (77 / 1080 * 100%);

  border-radius: 5px;
  background-color: #2e3333;

  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* ## 安装应用的提示 */
.msg {
  ul.app2sinan {
    font-size: 0px;
    white-space: nowrap;
    height: 230 / 3 * 1px; /* COMPATIBLE CODE */
    height: (230 / 3) / $default-vw2px * 1vw;

    li {
      height: 100%;
      display: inline-block;

      background-position: center;
      background-repeat: no-repeat;
    }
    li.left, li.right {
      width: 230 / 690 * 100%;
      background-size: contain;
    }
    li.middle {
      width: 230 / 690 * 100%;
      background-size: 45%;
      background-image: url(../images/test/arrow_forward.png);
    }
    li.right {
      background-image: url(../images/test/sinan_logo.png);
    }
  }
  .content {
    line-height: 1.5em;
    margin-top: px2em(21px, 16px); /* COMPATIBLE CODE */
    margin-bottom: px2em(5px, 16px); /* COMPATIBLE CODE */
    margin-top: 21 / $default-vw2px * 1vw;
    margin-bottom: 5 / $default-vw2px * 1vw;
    font-size: px2em(16px, $default-font-size); /* COMPATIBLE CODE */
    font-size: 16 / $default-vw2px * 1vw;
  }
  .operate {
    text-align: right;

    a {
      $operate-font-size: 14;
      $operate-height: px2em(25px, $operate-font-size * 1px);

      // width: 140 / 700 * 100%;
      // height: $operate-height;
      // line-height: $operate-height;

      text-align: center;
      display: inline-block;
      color: #1affff;
      font-size: px2em($operate-font-size * 1px, $default-font-size); /* COMPATIBLE CODE */
      font-size: $operate-font-size / $default-vw2px * 1vw;

      // border: 1px solid #fff;
      // border-radius: px2em(5px, $operate-font-size * 1px);
    }
  }
}
