// bower:scss
// endbower

@import "support";

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font: normal 0.625rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;

  color: #fff;
  background-color: #1a2424;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
