
@import "support";

/*
 * TOC
 *
 * 1 我的应用
 */

$default-font-size: 10px;
$default-vw2px: 360 * 0.01; // 默认以屏幕宽度 360 像素计算

$app-list-padding: 48 / 1080 * 100%;

/* # 我的应用 */
section.myapps {
  ul.myapps-apps {
    li {
      position: relative;
      line-height: 1;
      border-bottom: 1px solid #313a3a;
      display: block;
      padding: $app-list-padding;
    }
    .app-logo {
      $app-logo-size: 64 / $default-vw2px * 1vw;

      width: $app-logo-size;
      height: $app-logo-size;
      border-radius: 10 / $default-vw2px * 1vw;

      float: left;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .app-info {
      // 这里 overflow: hidden, safari 有问题, chrome, firefox 没问题, 为什么呢? BFC?
      // overflow: hidden;

      height: 50 / $default-vw2px * 1vw; // 这里高度不能百分比布局, 只能相对视窗大小
      padding: 7 / $default-vw2px * 1vw 0;
      margin-left: (190 + 40) / 984 * 100%;
      margin-right: 140 / 984 * 100%;
    }
    .app-name {
      font-size: 16 / $default-vw2px * 1vw;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .app-version, .app-size {
      color: #aaa;
      margin-top: px2em(5px, 12px);
      font-size: 12 / $default-vw2px * 1vw;
    }
    .app-operate {
      $app-operate-height: px2em(25px, $default-font-size);

      top: 50%;
      right: $app-list-padding;
      position: absolute;

      text-align: center;
      font-size: 10 / $default-vw2px * 1vw;

      width: 140 / 1080 * 100%;
      height: $app-operate-height;
      line-height: $app-operate-height;
      margin-top: - $app-operate-height / 2;

      border: 1px solid #fff;
      border-radius: px2em(5px, $default-font-size);

      a {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 14 / $default-vw2px * 1vw;
      }
    }
  }
}
