
@import "support";

/*
 * TOC
 *
 * 1 我的应用
 */

/* # 我的应用 */
section.myapps {
  ul.myapps-apps {
    li {
      border-bottom: 1px solid #313a3a;
      display: block;
      padding: 4.44444444%;
    }
    .app-logo {
      width: 17.6%;
      float: left;

      img {
        width: 100%;
      }
    }
    .app-info {
      height: 100%;
    }
  }
}
