
@import "support";

/*
 * TOC
 *
 * 1 我的应用
 */

$default-font-size: 10px;
$default-vw2px: 360 * 0.01; // 默认以屏幕宽度 360 像素计算

$app-list-padding: 48 / 1080 * 100%;

/* # 我的应用 */
section.myapps {
  ul.myapps-apps {
    li {
      position: relative;
      line-height: 1;
      border: 1px solid #313a3a;
      display: block;
      padding: $app-list-padding;
      overflow: hidden;

      margin-top: -1px;
    }
    .app-logo {
      $app-logo-size: (174 / 3) / $default-vw2px * 1vw;

      width: 174 / 984 * 100%; /* COMPATIBLE CODE */
      width: $app-logo-size;
      height: $app-logo-size;
      border-radius: 10 / $default-vw2px * 1vw;

      float: left;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .app-info {
      // 这里 overflow: hidden, safari 有问题, chrome, firefox 没问题, 为什么呢? BFC?
      // overflow: hidden;

      height: 53 / $default-vw2px * 1vw; // 这里高度不能百分比布局, 只能相对视窗大小
      padding: px2em(2px, $default-font-size) 0; /* COMPATIBLE CODE */
      padding: 2 / $default-vw2px * 1vw 0;
      margin-left: (174 + 40) / 984 * 100%;
      margin-right: 150 / 984 * 100%;
    }
    .app-name {
      font-size: px2em(16px, $default-font-size); /* COMPATIBLE CODE */
      font-size: 16 / $default-vw2px * 1vw;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    $font-size: 12; // 版本、应用大小的字体
    .app-version, .app-size {
      color: #aaa;

      font-size: px2em($font-size * 1px, $default-font-size); /* COMPATIBLE CODE */
      font-size: $font-size / $default-vw2px * 1vw;
    }
    .app-version {
      margin-top: px2em(7px, $font-size * 1px);
    }
    .app-size {
      margin-top: px2em(6px, $font-size * 1px);
    }

    .app-operate {
      $app-operate-height: px2em(25px, $default-font-size);

      top: 50%;
      right: $app-list-padding;
      position: absolute;

      text-align: center;
      font-size: 10 / $default-vw2px * 1vw;

      width: 150 / 1080 * 100%;
      height: $app-operate-height;
      line-height: $app-operate-height;
      margin-top: - $app-operate-height / 2;

      // border: 1px solid #fff;
      // border-radius: px2em(5px, $default-font-size);

      a {
        width: 100%;
        height: 100%;
        display: block;
        color: #1affff;
        font-size: px2em(14px, $default-font-size); /* COMPATIBLE CODE */
        font-size: 14 / $default-vw2px * 1vw;

        -webkit-transition: background-color .25s;
           -moz-transition: background-color .25s;
            -ms-transition: background-color .25s;
             -o-transition: background-color .25s;
                transition: background-color .25s;

        &.uninstall {
          color: #1affff;
        }
        &:active {
          background-color: #3b3b3d;
        }
      }
    }
  }
}


/* # 动画 */
.slideUp {
  $delay: .6s;
  $duration: .4s;

  border-width: 0 !important;
  height: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  -webkit-transition:
    border-width $duration $delay,
    height $duration $delay,
    margin-top $duration $delay,
    padding-top $duration $delay,
    padding-bottom $duration $delay;
  -moz-transition:
    border-width $duration $delay,
    height $duration $delay,
    margin-top $duration $delay,
    padding-top $duration $delay,
    padding-bottom $duration $delay;
  -ms-transition:
    border-width $duration $delay,
    height $duration $delay,
    margin-top $duration $delay,
    padding-top $duration $delay,
    padding-bottom $duration $delay;
  -o-transition:
    border-width $duration $delay,
    height $duration $delay,
    margin-top $duration $delay,
    padding-top $duration $delay,
    padding-bottom $duration $delay;
  transition:
    border-width $duration $delay,
    height $duration $delay,
    margin-top $duration $delay,
    padding-top $duration $delay,
    padding-bottom $duration $delay;
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;

  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-ms-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
